@font-face{
  font-family: 'Coconutz';
   src: url('../fonts/coconutz-font/Coconutz-EaZjl.ttf');
  }

body {
  background-color: beige;
}

.masterContainer {
  display: grid;
  place-items: center;
}

.factsContainer{
  font-family: 'Coconutz';
  display: grid;
  align-items: center;
  margin: auto auto auto auto;  
  width: min(80vw, 600px);
  height: max(50vh, 500px);
  
}

.facts {
  text-align: center;
  font-size: max(6vh, 2em);
}

.btnContainer {
  padding: auto;
}

.newFactBtn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: min(5vw, 26px);
  cursor: pointer;
  width: min(50vw, 250px);
}